.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 15%
    right: 70%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 19%
    right: 10%
  &-3
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 31%
    right: 60%


@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)

.cajon-b.color-primario:before 
  background-color: #E7F3FF !important

.slyder-a__bullets__item--active 
  background-color: #0F2771
  border-color: #0F2771
  opacity: 1

.faa
  background-color: #F5FAFE !important